<%- include('partials/detailtaskHeader.ejs') %>
    <div class="notion-app">
        <!-- beign control -->
        <div class="control">
            <!-- account -->
            <div class="i-user">
                <img class="thumb" src="data:image/png;base64,<%= finalAvatar %>" />
                <div class="u-name">
                    <a href="http://localhost:3000/users/me">
                        <%= username %>
                    </a>
                </div>
            </div>
            <!-- search-filter -->
            <div class="se-fi">
                <div class="form-group">
                    <div class="btn-group">
                        <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="Tìm kiếm nhanh">
                        <div class="btn btn-info">Tìm</div>
                    </div>
                </div>

                <div class="form-group">
                    <select class="custom-select" required>
                        <option selected>Thứ tự mặc định</option>
                        <option value="1">Nhiệm vụ đã hoàn thành</option>
                        <option value="2">Thứ tự từ cũ đến mới</option>
                        <option value="3">Thứ tự từ mới đến cũ</option>
                    </select>
                </div>
            </div>
            <!-- favorite -->
            <div class="favorite">
                <i class="fa fa-star"></i>
                <h5>Yêu thích</h5>
            </div>

            <!-- board -->
            <div class="board">
                <i class="fa fa-clipboard-list"></i>
                <h5>
                    <a href="http://localhost:3000/my-tasks">Bảng của tôi</a>
                </h5>
                <i class="fa fa-addtask fa-plus" data-toggle="modal" data-target="#board"></i>
            </div>
            <div>
                <% boardAndCollection.boardName.forEach(name => { %>
                    <a style="text-align: center; margin: 10px; display: block;" href="/my-tasks-by/?boardName=<%=name%>">
                        <%= name %>
                    </a>
                    <% }) %>
            </div>
        </div>


        <!-- begin-detail -->
        <div class="detail">
            <div style="position: absolute; right: 0; padding: 20px; min-width: fit-content;">
                <button>
                    <a href="/users/logoutall">Đăng xuất tất cả các phiên</a>
                </button>
                <button>
                    <a href="/users/logout">Đăng xuất</a>
                </button>
            </div>
            <div class="overlay" style="display: none; position: fixed; top:0; right: 0; left: 0; bottom: 0; background-color:rgba(255,255,255,0); z-index: 0;"></div>

            <!--Đầu trang kế hoạch thiết kế-->
            <div class="kehoachthietke">

                <div>
                    <h2>
                        <input type="text" id="oldBoardName_<%= _id %>" value="<%= data.boardName %>">
                    </h2>
                    <button data-old="<%= data.boardName %>" onclick="editTasks(this, 'boardName')" data-user-id="<%= _id %>" data-action="edit" data-body-needed=''><i class="far fa-edit"></i></button>
                    <button data-old="<%= data.boardName %>" onclick="deleteTasks(this, 'boardName')" data-user-id="<%= _id %>" data-action="delete" data-body-needed=''><i class="far fa-trash-alt"></i></button>
                    <p>
                        Ngày tạo:
                        <%= time %>
                    </p>
                </div>

            </div>
            <!--Nội dung kế hoach thiết kế-->
            <div class="noi-dung-ke-hoach-thiet-ke">
                <% for (const collectionName in data.tasksFrom) { %>
                    <div class="thu-muc">
                        <!--thư mục-->
                        <div class="style-button" style="position: relative; z-index: 1000;">
                            <div style="display: flex; flex-direction: row;">
                                <div class="button">
                                    <input id="<%= collectionName %>_<%= _id %>" style="min-width: fit-content;" type="text" value="<%= collectionName %>">
                                </div>
                                <!-- <p class="icon" style="display: flex; flex-direction: column;"> -->
                                <div>
                                    <button data-old="<%= collectionName %>" onclick="editTasks(this, 'collectionName')" data-user-id="<%= _id %>"><i class="far fa-edit"></i></button>
                                    <button data-old="<%= collectionName %>" onclick="deleteTasks(this, 'collectionName')" data-user-id="<%=_id %>"><i class="far fa-trash-alt"></i></button>
                                </div>
                                <!-- </p> -->
                            </div>

                        </div>
                        <div class="tien-do-ke-hoach">
                            <!--tiến độ kế hoạch-->
                            <% data.tasksFrom[collectionName].forEach(task => {%>
                                <div class="muc-ke-hoach" style="margin-top: 10px;">
                                    <div>
                                        <% const time = new Date(task.createdAt) %>
                                            <%= `Ngày:${time.getDate()}/${time.getMonth() + 1}, Lúc: ${time.getHours()}:${time.getMinutes()}`%>
                                    </div>
                                    <div class="style-trang-gioi-thieu">
                                        <input id="oldDescription_<%= task._id %>" style="min-height: 20px;" type="text" name="" value="<%= task.description %>">
                                    </div>
                                    <input name="checkbox" type="checkbox" id="completed_<%= task._id %>" <%=( task.completed) ? 'checked ' : ' '%> >
                                    <label for="completed">Đã hoàn thành</label>
                                    <div class="fas-fa-ellipsis-h" style="display: flex; flex-direction: row; justify-content: center;margin-top: 5px;">
                                        <button onclick="editTasks(this, 'description')" data-task-id="<%= task._id %>" data-collection-name="<%= collectionName %>" data-user-id="<%= _id %>"><i class=" far fa-edit " style="margin-top: 3px; "></i></button>
                                        <button onclick="deleteTasks(this, 'description')" data-task-id="<%= task._id %>" data-collection-name="<%= collectionName %>" data-user-id="<%= _id %>"><i class="far fa-trash-alt" style="margin-top: 3px;"></i></button>
                                    </div>
                                    <!--mục kế hoạch của mục Làm ĐN-ĐK-->
                                </div>
                                <% }) %>
                        </div>

                    </div>
                    <% } %>
            </div>
        </div>
        <div class="modal fade" id="board" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Tạo bảng mới</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                    </div>
                    <div class="modal-body">
                        <!-- input form -->
                        <form action="/tasks/create" method="POST">
                            <div class="form-group">
                                <label for="name">Tên bảng</label>
                                <input type="text" name="boardName" class="form-control" placeholder="Nhập tên bảng">
                            </div>
                            <div class="form-group">
                                <label for="name">Tên thư mục</label>
                                <input type="text" name="collectionName" class="form-control" placeholder="Nhập nhóm thư mục (đang làm,...)">
                            </div>
                            <div class="form-group">
                                <label for="name">Tên task</label>
                                <input type="text" name="description" class="form-control" placeholder="Nhập tên task của thư mục (công việc 1,...)">
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                                <button type="submit" class="btn btn-primary">Tạo</button>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
        <!-- onclick-detail-board -->
        <%- include('partials/detailtaskFooter.ejs') %>