<%- include('partials/userHeader.ejs') %>
    <!-- begin-detail -->
    <div class="notion-app">
        <!-- beign control -->
        <div class="control">
            <!-- account -->
            <div class="i-user">
                <img class="thumb" src="data:image/png;base64,<%= finalAvatar %>" />
                <div class="u-name">
                    <a href="http://localhost:3000/users/me">
                        <%= data.name %>
                    </a>
                </div>
            </div>
            <!-- search-filter -->
            <div class="se-fi">
                <div class="form-group">
                    <div class="btn-group">
                        <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="Tìm kiếm nhanh">
                        <div class="btn btn-info">Tìm</div>
                    </div>
                </div>

                <div class="form-group">
                    <select class="custom-select" required>
					<option selected>Thứ tự mặc định</option>
					<option value="1">Nhiệm vụ đã hoàn thành</option>
					<option value="2">Thứ tự từ cũ đến mới</option>
					<option value="3">Thứ tự từ mới đến cũ</option>
				</select>
                </div>
            </div>
            <!-- favorite -->
            <div class="favorite">
                <i class="fa fa-star"></i>
                <h5>Yêu thích</h5>
            </div>

            <!-- board -->
            <div class="board">
                <i class="fa fa-clipboard-list"></i>
                <h5>
                    <a href="http://localhost:3000/my-tasks">Bảng của tôi</a>
                </h5>
                <i class="fa fa-addtask fa-plus" data-toggle="modal" data-target="#board"></i>
            </div>


            <% boardAndCollection.boardName.forEach(name => { %>
                <a href="#">
                    <%= name %>
                </a>
                <% }) %>
        </div>
        <!-- begin-detail -->
        <div class="detail">
            <div style="position: absolute; right: 0; padding: 20px; min-width: fit-content;">
                <button>
                    <a href="/users/logoutall">Đăng xuất tất cả các phiên</a>
                </button>
                <button>
                    <a href="/users/logout">Đăng xuất</a>
                </button>
                <button>
                    <a href="/users/delete">Xóa tài khoản của tôi</a>
                </button>
            </div>
            <div class="head-user">
                <div class="h-user">
                    <div class="group-account">
                        <img class="thumb" src="data:image/png;base64,<%= finalAvatar %>" />
                    </div>
                    <div class="u-account">
                        <h5>
                            <%= data.name %>
                        </h5>
                        <p>
                            <%= data.email %>
                        </p>
                    </div>
                </div>
            </div>
            <div class="user-detail">
                <div class="user-name">
                    <div class="name-box">
                        <h6> TÊN NGƯỜI DÙNG </h6>
                        <p>
                            <%= data.name %>
                        </p>
                    </div>
                    <div>
                        <button type="button" class="btn btnname btn-secondary" data-toggle="modal" data-target="#modalName">
                        Thay đổi
                      </button>
                    </div>
                </div>

                <div class="email">
                    <div class="email-box">
                        <h6> EMAIL </h6>
                        <p>
                            <%= data.email %>
                        </p>
                    </div>
                    <div>
                        <button type="button" class="btn btnemail btn-secondary" data-toggle="modal" data-target="#modalEmail">
                        Thay đổi
                      </button>
                    </div>
                </div>

                <div class="password">
                    <div class="password-box">
                        <h6> MẬT KHẨU </h6>
                        <p>***************</p>
                    </div>
                    <div>
                        <button type="button" class="btn btnpass btn-secondary" data-toggle="modal" data-target="#modalPassword">
                        Thay đổi
                      </button>
                    </div>
                </div>

                <div class="avatar">
                    <div class="avatar-box">
                        <h6> Avatar </h6>
                    </div>
                    <div>
                        <button type="button" class="btn btnpass btn-secondary" data-toggle="modal" data-target="#modalAvatar">
                        Thay đổi
                      </button>
                    </div>
                </div>
            </div>

        </div>

        <div class="modal fade" id="board" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Tạo bảng mới</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                    </div>
                    <div class="modal-body">
                        <!-- input form -->
                        <form action="">
                            <div class="form-group">
                                <label for="name">Tên bảng</label>
                                <input type="text" class="form-control" placeholder="Nhập tên bảng">
                            </div>
                            <div class="form-group">
                                <label for="name">Tên thư mục</label>
                                <input type="text" class="form-control" placeholder="Nhập nhóm thư mục (đang làm,...)">
                            </div>
                            <div class="form-group">
                                <label for="name">Tên task</label>
                                <input type="text" class="form-control" placeholder="Nhập tên task của thư mục (công việc 1,...)">
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                        <button type="button" class="btn btn-primary">Tạo</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- modal layout name user -->
        <div class="modal fade" id="modalName" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <!-- begin form -->
                        <h5 class="modal-title" id="modalLabel">Thay đổi tên người dùng</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                             <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form action="/users/me/edit" method="POST">
                            <div class="form-group">
                                <label for="name">Tên người dùng</label>
                                <input type="text" name="name" class="form-control" id="" placeholder="Nhập tên mới">
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                                <button type="submit" class="btn btn-primary">Lưu</button>
                            </div>
                        </form>
                        <!-- end form -->
                    </div>
                </div>
            </div>
        </div>
        <!-- modal layout email -->
        <div class="modal fade" id="modalEmail" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <!-- begin form -->
                        <h5 class="modal-title" id="modalLabel">Thay đổi Email</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form action="/users/me/edit" method="POST">
                            <div class="form-group">
                                <label for="inputEmail">Email</label>
                                <input type="text" name="email" class="form-control" id="" placeholder="Nhập email mới">
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                                <button type="submit" class="btn btn-primary">Lưu</button>
                            </div>
                        </form>
                        <!-- end form -->
                    </div>
                </div>
            </div>
        </div>
        <!-- modal layout passsword -->
        <div class="modal fade" id="modalPassword" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <!-- begin form -->
                        <h5 class="modal-title" id="modalLabel">Thay đổi Email</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form action="/users/me/edit/password" method="POST">
                            <div class="form-group">
                                <label for="inputPassword">Mật khẩu hiện tại</label>
                                <input type="password" class="form-control" name="currentPwd" placeholder="Nhập mật khẩu hiện tại">
                            </div>
                            <div class="form-group">
                                <label for="inputPassword">Mật khẩu mới</label>
                                <input type="password" class="form-control" name="newPwd" placeholder="Nhập mật khẩu mới">
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                                <button type="submit" class="btn btn-primary">Lưu</button>
                            </div>
                        </form>
                        <!-- end form -->
                    </div>

                </div>
            </div>
        </div>
        <!-- avatar -->
        <div class="modal fade" id="modalAvatar" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <!-- begin form -->
                        <h5 class="modal-title" id="modalLabel">Thay đổi Avatar</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form action="/users/me/edit" method="POST" enctype="multipart/form-data">
                            <div class="form-group">
                                <label for="inputEmail">Avatar</label>
                                <input type="file" name="avatar" class="form-control" id="" placeholder="Nhập email mới">
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                                <button type="submit" class="btn btn-primary">Lưu</button>
                            </div>
                        </form>
                        <!-- end form -->
                    </div>
                </div>
            </div>
        </div>
        <%- include('partials/userFooter.ejs') %>